.cover {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    max-width: 1184px;
    min-height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

@media screen and (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin-bottom: 88px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-bottom: 64px;
        min-height: 200px;
    }
}